<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('../partials/header') %>

    <h1>Log in</h1>
    <form action="/auth/login" method="post" class="login">
      <div>
        <script
          src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.6.2/dist/dotlottie-wc.js"
          type="module"
        ></script>
        <dotlottie-wc
          src="https://lottie.host/f10c58df-596d-43a8-aacc-5c7913e34b42/LNMmVyYXSQ.lottie"
          style="width: 600px; height: 600px"
          speed="1"
          autoplay
          loop
        ></dotlottie-wc>
      </div>

      <div>
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Enter Username"
          required
        /><br />

        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          placeholder="Enter Password"
          name="password"
          required
        /><br />

        <button type="submit" class="logBtn">Login</button>
        <p>Don't have an account? <a href="/auth/sign-up">Sign up now!</a></p>
      </div>
    </form>

    <% if(error){ %>
    <p style="color: red"><%= error%></p>
    <%}%> <%- include('../partials/footer') %>
  </body>
</html>
