<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Eco Facility</title>
</head>
<body>
    <%- include('../partials/header')  %>

    <h1>Add new Facility</h1>
    <form action="/ecoFacilities/new" method="post">
        <label for="name">name: </label>
        <input type="text" name="name" id="name"><hr>

          <label for="category">category: </label>
        <input type="text" name="category" id="category"><hr>

        <label for="descrtiption">descrtiption: </label>
        <textarea name="descrtiption" id="descrtiption"></textarea><hr>

        <label for="houseNumber">houseNumber: </label>
        <input type="text" name="houseNumber" id="houseNumber"><hr>

        <label for="streetName">streetName: </label>
        <input type="text" name="streetName" id="streetName"><hr>
        
        <label for="town">town: </label>
        <input type="text" name="town" id="town"><hr>
        
        <label for="status">status: </label>
        <input type="text" name="status" id="status"><hr>

        <button type="submit">Add facility</button>
    </form>
</body>
</html>