<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All users</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <%- include('../partials/header') %>
    <h1>All users</h1>
    <form action="/users/new" method="get">
      <button type="submit">Add new user</button>
    </form>
    <%allUsers.forEach((user) => {%>
    <p>Username: <%= user.username %></p>
    <form action="/users/update/<%=user._id%>" method="get">
        <button type="submit">UPDATE USER</button>
    </form>

    <form action="/users/delete/<%= user._id%>?_method=DELETE" method="post">
      <button type="submit">DELETE USER</button>
    </form>
    <hr />
    <%})%>
  </body>
</html>
